/* let's only use semantic names for our colours */
#turn-off-angular {
  z-index: 100;
  position: fixed;
  left: 11px;
  bottom: 10px;
  width: 120px;
  text-align: center;
  padding: 3px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.lmo-version {
  color: #666;
  font-size: 11px; }

.menu-image {
  padding: 15px; }

.underlined-link {
  text-decoration: underline; }

.debug {
  border: 1px solid #000; }

.font-bold {
  font-weight: bold; }

/* use .first if your heading is the first child */
.first {
  margin-top: 0; }

.lmo-last {
  /* utility class to use when you want to fix up
     the margins on your card, e.g. if the last
     element in the card is a paragraph */
  margin-bottom: -10px; }

.lmo-validation-error {
  color: #D0021B;
  display: block;
  font-size: 13px;
  line-height: 15px; }

.lmo-bold {
  font-weight: bold; }

.nowrap {
  white-space: nowrap; }

.table-cell {
  display: table-cell; }

.fat-finger {
  /*utility class to increase the target size of a link*/
  min-width: 30px;
  min-height: 30px;
  display: block;
  text-align: right;
  cursor: pointer;
  line-height: 32px; }
  .fat-finger i {
    line-height: 32px; }

.action {
  color: #666;
  text-decoration: underline; }

.small-action {
  color: #666;
  text-decoration: underline;
  font-size: 13px;
  line-height: 15px; }

.option-icon {
  /* a helper class to display inline icons and avatars */
  margin: 5px 5px 5px 0;
  display: inline-block; }

.lmo-btn-icon {
  text-align: left; }

.btn-success.lmo-btn-icon i.fa {
  color: #fff; }

.lmo-btn-icon i.fa {
  padding-right: 2px; }

.btn.lmo-btn-icon {
  padding: 6px 12px 6px 9px; }

.lmo-btn-nude {
  box-shadow: none;
  color: #666;
  background-color: transparent; }

.lmo-btn-nude:hover {
  box-shadow: none;
  background-color: #E0E0E0; }

.label-with-details {
  font-weight: bold; }

.label-with-details-label:after {
  content: ": "; }

.label-with-details-details {
  font-weight: normal; }

label.label-with-details {
  margin-left: 5px; }

.fa-volume-off-padded {
  margin: 0 6px 0 3px; }

.form-card {
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: 1px solid #dcdcdc;
  background: #fff;
  margin-bottom: 8px;
  padding: 15px;
  max-width: 480px;
  margin: 10px auto; }
  .form-card i {
    color: #767676; }
  .form-card .card-minor-action {
    margin: 10px 0 0 0;
    clear: both; }

.form-group {
  margin-top: 20px; }

.font-bold {
  font-weight: bold; }

.page-loading {
  color: #666;
  text-align: center;
  padding: 10px; }

.lmo-h1 {
  font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold",
    "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma",
    "Geneva", "Arial", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-size: 24px;
  line-height: 27px;
  padding: 0;
  margin: 0; }

.lmo-h1-medium {
  font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-size: 24px;
  line-height: 27px; }

.lmo-h2 {
  font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold",
    "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma",
    "Geneva", "Arial", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-size: 20px;
  line-height: 24px;
  margin: 8px 0; }

.lmo-h3 {
  font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-size: 13px;
  line-height: 15px;
  color: #767676;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase; }

.lmo-h4 {
  font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-size: 13px;
  line-height: 15px;
  color: #767676;
  margin-top: 22px; }

.lmo-card {
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: 1px solid #dcdcdc;
  background: #fff;
  margin-bottom: 8px;
  padding: 15px; }
  .lmo-card i {
    color: #767676; }
  .lmo-card .card-minor-action {
    margin: 10px 0 0 0;
    clear: both; }

.lmo-card--no-padding {
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: 1px solid #dcdcdc;
  background: #fff;
  margin-bottom: 8px; }
  .lmo-card--no-padding i {
    color: #767676; }
  .lmo-card--no-padding .card-minor-action {
    margin: 10px 0 0 0;
    clear: both; }

.lmo-card-padding {
  padding: 15px; }

.lmo-card-heading {
  font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-size: 13px;
  line-height: 15px;
  display: inline-block;
  text-transform: uppercase;
  color: #767676;
  margin-top: 0;
  margin-bottom: 10px; }

.lmo-card-subheading {
  font-size: 13px;
  line-height: 15px;
  font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 500;
  font-stretch: normal;
  text-transform: uppercase;
  color: #767676;
  margin-top: 1.5em; }

.lmo-link {
  color: #767676;
  text-decoration: underline; }

.lmo-vertical-spacer {
  padding: 5px 0; }

.lmo-vertical-spacer-lg {
  padding: 15px 0; }

.lmo-btn-group-right {
  float: right; }

.lmo-btn-group-right .lmo-btn-wrapper {
  float: right; }

.lmo-placeholder {
  font-style: italic;
  color: #767676;
  padding: 10px 0; }

.lmo-hint-text {
  font-style: italic;
  color: #767676; }

.lmo-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.lmo-width-75 {
  width: 75%; }

.lmo-markdown-wrapper img {
  max-width: 100%; }

.lmo-disabled-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border-radius: 6px;
  z-index: 10;
  opacity: 0.5; }

.lmo-box--tiny {
  width: 20px;
  height: 20px; }

.lmo-box--small {
  width: 30px;
  height: 30px; }

.lmo-box--medium {
  width: 50px;
  height: 50px; }

.lmo-box--large {
  width: 80px;
  height: 80px; }

.lmo-rounded-corners {
  border-radius: 3px; }

.cob-hidden-submit-button {
  position: absolute;
  top: -10000px;
  left: -10000px; }

.welcome-page__toolbar {
  background: #6064FF; }

.welcome-page__heading {
  font-size: 24px;
  line-height: 27px; }

.group-page__toolbar {
  background: #6064FF;
  position: fixed; }

.group-page__menu-bar {
  height: 60px; }

.group-page__menu-icon {
  font-size: 24px;
  line-height: 27px; }

.group-page__group-name {
  font-size: 20px;
  line-height: 24px; }

.group-page__funds-bar {
  height: 48px; }

.group-page__funds-overview-header {
  font-size: 12px;
  line-height: 14px; }

.group-page__funds-icon {
  font-size: 24px;
  line-height: 27px;
  margin-right: 10px; }

.group-page__funds-overview-amount {
  font-size: 24px;
  line-height: 27px; }

.group-page__tabs {
  font-size: 14px;
  line-height: 20px;
  background: #6064FF;
  height: 48px; }

.group-page__tabs md-tabs-wrapper {
  background: #6064FF; }

.group-page__tab-label {
  font-size: 14px;
  line-height: 20px;
  color: white; }

.group-page md-ink-bar {
  background: white; }

.group-page__content {
  padding-bottom: 10px;
  top: calc(48px * 2 + 60px); }

.group-page__subheader-title {
  color: #6064FF; }

.group-page__help-icon {
  color: #BDBDBD; }

.group-page__project-container {
  padding: 3px 0; }

.group-page__project-title {
  font-size: 16px;
  line-height: 22px; }

.group-page__project-funding {
  font-size: 13px;
  line-height: 15px;
  color: #767676; }

.group-page__progress-bar {
  margin-bottom: 10px; }

.group-page__progress-bar .md-container {
  background: #BDBDBD; }

.group-page__progress-bar .md-bar {
  background: #FF8600; }

.group-page__drafts-heading {
  color: #6064FF; }

.group-page__draft-title {
  font-size: 16px;
  line-height: 22px; }

.group-page__draft-author {
  font-size: 13px;
  line-height: 15px;
  color: #767676; }

.group-page__footer {
  position: fixed;
  width: 100%;
  bottom: 0; }

.group-page__create-project-fab {
  position: fixed;
  right: 10px;
  bottom: 15px; }

.group-page__funder-name {
  font-size: 16px;
  line-height: 22px;
  padding-left: 16px; }

.group-page__funder-balance {
  font-size: 20px;
  line-height: 24px;
  color: #00DD28; }

.create-project-page__toolbar {
  background: #6064FF; }

.create-project-page__cancel-icon {
  font-size: 24px;
  line-height: 27px; }

.create-project-page__header-text {
  font-size: 20px;
  line-height: 24px; }

.create-project-page__done-button-text {
  margin-right: 5px; }

.create-project-page__subheader-title {
  color: #6064FF; }

.create-project-page__subheader-text {
  font-size: 14px;
  line-height: 20px; }

.create-project-page__subheader-text .md-subheader-inner {
  padding-top: 0;
  padding-bottom: 0; }

.create-project-page__form {
  padding: 10px; }

.create-project-page__target-optional-text {
  color: #6064FF; }

.project-page md-toolbar {
  min-height: 0; }

.project-page__toolbar {
  background: #6064FF;
  position: fixed; }

.project-page__menu-bar {
  height: 60px; }

.project-page__menu-icon {
  font-size: 24px;
  line-height: 27px; }

.project-page__personal-funds {
  font-size: 20px;
  line-height: 24px; }

.project-page__funds-overview-header {
  font-size: 12px;
  line-height: 14px; }

.project-page__funds-icon {
  font-size: 24px;
  line-height: 27px;
  margin-right: 10px; }

.project-page__edit-button {
  margin: 0;
  padding: 0;
  width: 60px; }

.project-page__content {
  padding-bottom: 10px;
  top: 60px; }

.project-page__header-card {
  background-image: url('./../img/collab-funding.png');
  background-position: top; }

.project-page__header-card-content {
  margin-top: 60px;
  background: rgba(0, 0, 0, 0.7);
  color: white; }

.project-page__title {
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 10px; }

.project-page__author {
  font-size: 12px;
  line-height: 14px;
  color: #BDBDBD; }

.project-page__description-card {
  background: #FAFAFA;
  padding-top: 10px;
  padding-bottom: 10px; }

.project-page__description-header {
  font-size: 16px;
  line-height: 22px; }

.project-page__description-text {
  font-size: 13px;
  line-height: 15px;
  margin-top: 10px;
  margin-bottom: 10px; }

.project-page__more-button {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0; }

.project-page__progress-card {
  margin-top: 10px; }

.project-page__progress-card-content {
  background: #FAFAFA;
  padding-top: 10px;
  padding-bottom: 10px; }

.project-page__progress-header {
  display: block;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px; }

.project-page__progress-bar {
  margin-bottom: 15px; }

.project-page__progress-bar .md-container {
  background: #BDBDBD; }

.project-page__progress-bar .md-bar {
  background: #FF8600; }

.project-page md-progress-linear:not([md-mode="indeterminate"]) .md-container {
  height: 15px; }

.project-page md-progress-linear:not([md-mode="indeterminate"]) .md-bar {
  height: 15px; }

.project-page__progress-info {
  margin-top: 25px; }

.project-page__progress-amount {
  display: block;
  font-size: 20px;
  line-height: 24px; }

.project-page__progress-unit {
  display: block;
  font-size: 13px;
  line-height: 15px;
  color: #767676; }

.project-page__status-card {
  background: #FAFAFA; }

.project-page__status-header {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px; }

.project-page__status-flagpoints {
  margin-bottom: 20px; }

.project-page__status-flagpoint-text-inactive {
  font-size: 14px;
  line-height: 20px;
  color: #767676; }

.project-page__status-flagpoint-text-active {
  font-size: 14px;
  line-height: 20px; }

.project-page__status-flagpoint {
  width: 50px; }

.project-page__status-flagpoint-divider {
  position: relative;
  height: 3px;
  background: #BDBDBD;
  bottom: 10px; }

.project-page__status-icon-inactive {
  color: #767676; }

.project-page__draft-icon {
  color: gold; }

.project-page__live-icon {
  color: #00C504; }

.project-page__status-flagpoint-icon-inactive {
  color: #767676; }

.project-page__status-description {
  font-size: 12px;
  line-height: 14px; }

.project-page .md-button.md-primary.md-raised {
  background-color: #00C504;
  margin-left: 0; }

.project-page__discussion-header {
  font-size: 20px;
  line-height: 24px;
  height: 25px; }

.project-page__comment-count {
  color: white;
  position: relative;
  bottom: 23px;
  font-size: 13px;
  line-height: 15px; }

.project-page__comment-count-icon {
  font-size: 24px;
  line-height: 27px; }

.project-page md-input-container {
  padding: 0; }

.project-page__comment {
  background: #FAFAFA; }

.project-page__comment-author-name {
  font-size: 16px;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 3px; }

.project-page__comment-body {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px; }

.project-page md-list {
  padding-bottom: 0; }

.edit-project-page__toolbar {
  background: #6064FF; }

.edit-project-page__cancel-icon {
  font-size: 24px;
  line-height: 27px; }

.edit-project-page__header-text {
  font-size: 20px;
  line-height: 24px; }

.edit-project-page__done-button-text {
  margin-right: 5px; }

.edit-project-page__subheader-title {
  color: #6064FF; }

.edit-project-page__subheader-text {
  font-size: 14px;
  line-height: 20px; }

.edit-project-page__subheader-text .md-subheader-inner {
  padding-top: 0;
  padding-bottom: 0; }

.edit-project-page__form {
  padding: 10px; }

.edit-project-page__target-optional-text {
  color: #6064FF; }

md-toast {
  position: fixed; }

md-toast > span.ng-binding {
  font-size: 12px;
  line-height: 14px; }

md-toast > button.md-button {
  color: #69D2C7; }

/*# sourceMappingURL=../maps/index.css.map */